@using PPIJ.Models

<div class="modal fade" id="myModalL" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Prijava</h4>
            </div>
            <div class="modal-body">
                ...................
            </div>
                <div class="modal-footer">
                    <a href="#" data-toggle="modal" data-target="#myModalR" style="float:left">Registracija</a>
                    <button type="button" class="btn btn-default" data-dismiss="modal">ZATVORI</button>
                    <button type="button" class="btn btn-primary">PRIJAVI SE</button>
                </div>
            </div>
    </div>
</div>