@{
    Layout = "~/Views/Shared/_Exam.cshtml";
}

<section id="section-featured" class="featured">
    <div class="container">
        <div class="row mar-bot40">
            <div class="col-md-6 col-md-offset-3">

                <div class="align-center">

                    <h2 class="slogan">Upravljačka ploča korisnika @Html.Raw("Dean")</h2>
                    
                    <p>
                        To do the Account
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>