@{
    Layout = "~/Views/Shared/_Exam.cshtml";
}
<section id="section-featured" class="featured"style="height:100px;padding-bottom:0px;padding-top:0px">
</section>

    <div id="ccontainer">
    <canvas id="myCanvas" width="550" height="400"> </canvas>
</div>

