@{
    Layout = "~/Views/Shared/_Exam.cshtml";
}
<section id="section-featured" class="featured"style="height:100px;padding-bottom:0px;padding-top:0px">
</section>

    <div id="navContent">

    <div id="game1"></div>
    <div id="game2"></div>
    </div>

