    <!-- 2:featured -->
    <section id="section-featured" class="featured">
        <div class="container">
            <div class="row mar-bot40">
                <div class="col-md-6 col-md-offset-3">

                    <div class="align-center">
                        <i class="fa fa-calculator fa-5x mar-bot20"></i>
                        <h2 class="slogan">Dobrodošli na Multi&Pi;</h2>
                        <p>
                            Multi&Pi; je web aplikacija za učenje matematike. Pokriva gradivo prva četiri razreda osnovne škole.
                            Sve što vam treba je Internet i dobra volja.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- 3:services -->
    <section id="section-services" class="section pad-bot30 bg-white">
        <div class="container">

            <div class="row mar-bot40">
                <div class="col-lg-4">
                    <div class="align-center">
                        <a href="http://public.mzos.hr/fgs.axd?id=14181"><i class="fa fa-book fa-5x mar-bot20"></i></a>
                        <h4 class="text-bold">Gradivo</h4>
                        <p>
                            Izvor - nastavni plan Ministarstva znanosti, obrazovanja i športa, stranica 240.

                        </p>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="align-center">
                        <a href="@Url.Content("~/Home/Exam")">
                            <i class="fa fa-list-alt fa-5x mar-bot20"></i>
                            <h4 class="text-bold">Zadaci</h4>
                        </a>
                        <p>
                                Kartice sa zadacima s ponuđenim odgovorima na zaokruživanje. Mogućnost pregledavanja rješenja.
                            </p>
</div>
                </div>

                <div class="col-lg-4">
                    <div class="align-center">
                        <a href="#" data-toggle="modal" data-target="#myModalL">
                        <i class="fa fa-sign-in fa-5x mar-bot20"></i>
                        <h4 class="text-bold">Prijava</h4></a>
                        <p>
                            Registrirajte se i pratite svoj napredak.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-- 4:spacer section:testimonial -->
    <section id="testimonials" class="section" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="align-center">
                        <div class="testimonial pad-top40 pad-bot40 clearfix">
                            <h5>
                                Ponavljanje je majka učenja.
                            </h5>
                            <br />

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--5:about -->
    <section id="section-about" class="section appear clearfix">
        <div class="container">

            <div class="row mar-bot40">
                <div class="col-md-offset-3 col-md-6">
                    <div class="section-header">
                        <h2 class="section-heading animated" data-animation="bounceInUp">O nama</h2>
                        <p>
                            Multi&Pi; je nastao u sklopu projekta studenata 3. godine FER-a. Ideja je približiti i olakšati osnovnoškolcima učenje matematike kroz
                            rješavanje zadataka na zabavan način.

                        </p>
                    </div>
                </div>
            </div>

            <div class="row align-center mar-bot40">
                <div class="col-md-25">
                    <div class="team-member">
                        <figure class="member-photo"><img src="~/Images/team/member1.jpg" alt="Profilna slika Hane Stanković" /></figure>
                        <div class="team-detail">
                            <h4>Hana Stanković</h4>
                            <span>Programer baze podataka</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-25">
                    <div class="team-member">
                        <figure class="member-photo"><img src="~/Images/team/member1.jpg" alt="Profilna slika Franje Matkovića" /></figure>
                        <div class="team-detail">
                            <h4>Franjo Matković</h4>
                            <span>Programer</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-25">
                    <div class="team-member">
                        <figure class="member-photo"><img src="~/Images/team/member2.jpg" alt="Profilna slika Ante Tomića" /></figure>
                        <div class="team-detail">
                            <h4>Ante Tomić</h4>
                            <span>Web developer</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-25">
                    <div class="team-member">
                        <figure class="member-photo"><img src="~/Images/team/member3.jpg" alt="Profilna slika Hane Sokolović" /></figure>
                        <div class="team-detail">
                            <h4>Hana Sokolović</h4>
                            <span>Web dizajner</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-25">
                    <div class="team-member">
                        <figure class="member-photo"><img src="~/Images/team/member4.jpg" alt="Profilna slika Deana Babića" /></figure>
                        <div class="team-detail">
                            <h4>Dean Babić</h4>
                            <span>Programer</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- /about -->
    <!--6:spacer section:stats
    <section id="parallax1" class="section pad-top40 pad-bot40" data-stellar-background-ratio="0.5">
        <div class="container">
        <div class="align-center pad-top40 pad-bot40">
            <blockquote class="bigquote color-white">Indoctum accusamus comprehensam</blockquote>
            <p class="color-white">Bootstraptaste</p>
        </div>
        </div>
    </section> -->
    <!-- 6:section works -->
    <section id="section-works" class="section appear clearfix">
        <div class="container">

            <div class="row mar-bot40">
                <div class="col-md-offset-3 col-md-6">
                    <div class="section-header">
                        <h2 class="section-heading animated" data-animation="bounceInUp">Primjeri</h2>
                        <p>Odaberite razred i pogledajte primjere.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <nav id="filter" class="col-md-12 text-center">
                    <ul>
                        <li><a href="#" class="current btn-theme btn-small" data-filter="*">All</a></li>
                        <li><a href="#" class="btn-theme btn-small" data-filter=".webdesign">Prvi</a></li>
                        <li><a href="#" class="btn-theme btn-small" data-filter=".photography">Drugi</a></li>
                        <li><a href="#" class="btn-theme btn-small" data-filter=".print">Treći</a></li>
                        <li><a href="#" class="btn-theme btn-small" data-filter=".nesto">Četvrti</a></li>
                    </ul>
                </nav>
                <div class="col-md-12">
                    <div class="row">
                        <div class="portfolio-items isotopeWrapper clearfix" id="3">

                            <article class="col-md-4 isotopeItem webdesign">
                                <div class="portfolio-item">
                                    <img src="~/Images/portfolio/img1.jpg" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <h5><a href="#">Prva slika</a></h5>
                                            <a href="~/Images/portfolio/img1.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-md-4 isotopeItem nesto">
                                <div class="portfolio-item">
                                    <img src="~/Images/portfolio/img2.jpg" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <h5><a href="#">Portfolio name</a></h5>
                                            <a href="~/Images/portfolio/img2.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>


                            <article class="col-md-4 isotopeItem photography">
                                <div class="portfolio-item">
                                    <img src="~/Images/portfolio/img3.jpg" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <h5><a href="#">Portfolio name</a></h5>
                                            <a href="~/Images/portfolio/img3.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-md-4 isotopeItem print">
                                <div class="portfolio-item">
                                    <img src="~/Images/portfolio/img4.jpg" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <h5><a href="#">Portfolio name</a></h5>
                                            <a href="~/Images/portfolio/img4.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-md-4 isotopeItem photography">
                                <div class="portfolio-item">
                                    <img src="~/Images/portfolio/img5.jpg" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <h5><a href="#">Portfolio name</a></h5>
                                            <a href="~/Images/portfolio/img5.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-md-4 isotopeItem webdesign">
                                <div class="portfolio-item">
                                    <img src="~/Images/portfolio/img6.jpg" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <h5><a href="#">Portfolio name</a></h5>
                                            <a href="~/Images/portfolio/img6.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-md-4 isotopeItem print">
                                <div class="portfolio-item">
                                    <img src="~/Images/portfolio/img7.jpg" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <h5><a href="#">Portfolio name</a></h5>
                                            <a href="~/Images/portfolio/img7.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-md-4 isotopeItem photography">
                                <div class="portfolio-item">
                                    <img src="~/Images/portfolio/img8.jpg" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <h5><a href="#">Portfolio name</a></h5>
                                            <a href="~/Images/portfolio/img8.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="col-md-4 isotopeItem print">
                                <div class="portfolio-item">
                                    <img src="~/Images/portfolio/img9.jpg" alt="" />
                                    <div class="portfolio-desc align-center">
                                        <div class="folio-info">
                                            <h5><a href="#">Portfolio name</a></h5>
                                            <a href="~/Images/portfolio/img9.jpg" class="fancybox"><i class="fa fa-plus fa-2x"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </article>
                        </div>

                    </div>


                </div>
            </div>

        </div>
    </section>
    <section id="parallax2" class="section parallax" data-stellar-background-ratio="0.5">
        <div class="align-center pad-top40 pad-bot40">
            <blockquote class="bigquote color-white">Vježba čini majstora.</blockquote>
            <p class="color-white">Multi&Pi; tim</p>
        </div>
    </section>

    <!-- contact -->
    <section id="section-contact" class="section appear clearfix">
        <div class="container">

            <div class="row mar-bot40">
                <div class="col-md-offset-3 col-md-6">
                    <div class="section-header">
                        <h2 class="section-heading animated" data-animation="bounceInUp">Kontaktirajte nas</h2>
                        <p>Imate li pitanja, komentare, prijedloge ili ste uočili neku grešku? Pošaljite nam e-mail.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <div class="cform" id="contact-form">
                        <div id="sendmessage">
                            Poruka je poslana. Hvala!
                        </div>
                        <form action="#" role="form" class="contactForm">
                            <div class="form-group">
                                <label for="name">Ime i prezime</label>
                                <input type="text" name="name" class="form-control" id="name" placeholder="Ime i prezime" data-rule="maxlen:4" data-msg="Unesite barem 4 znaka" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <label for="email">E-mail adresa</label>
                                <input type="email" class="form-control" name="email" id="email" placeholder="E-mail adresa" data-rule="email" data-msg="Unesite ispravnu e-mail adresu" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <label for="subject">Naslov</label>
                                <input type="text" class="form-control" name="subject" id="subject" placeholder="Naslov" data-rule="maxlen:8" data-msg="Unesite barem 8 znakova za naslov" />
                                <div class="validation"></div>
                            </div>
                            <div class="form-group">
                                <label for="message">Poruka</label>
                                <textarea class="form-control" name="message" id="userMessage" rows="5" data-rule="required" data-msg="Molimo napišite neku poruku"></textarea>
                                <div class="validation"></div>
                            </div>

                            <button type="submit" class="btn btn-theme pull-left">POŠALJI</button>
                        </form>

                    </div>
                </div>
                <!-- ./span12 -->
            </div>

        </div>
    </section>

    <section id="footer" class="section footer">
        <div class="container">
            <div class="row animated opacity mar-bot20" data-andown="fadeIn" data-animation="animation">
                <div class="col-sm-12 align-center">
                    <!--                    <ul class="social-network social-circle">
                                            <li><a href="#" class="icoRss" title="Rss"><i class="fa fa-rss"></i></a></li>
                                            <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                                            <li><a href="#" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                                        </ul> -->
                </div>
            </div>

            <div class="row align-center copyright">
                <div class="col-sm-12">
                    <p>
                        Copyright &copy; 2014 Amoeba - by <a href="http://bootstraptaste.com">Bootstraptaste</a>
                        <br>Customized by Multi&Pi; team.
                    </p>
                </div>
            </div>
        </div>

    </section>
    <a href="#header" class="scrollup"><i class="fa fa-chevron-up"></i></a>

    <script src="~/Scripts/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery.easing.1.3.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.isotope.min.js"></script>
    <script src="~/Scripts/jquery.nicescroll.min.js"></script>
    <script src="~/Scripts/fancybox/jquery.fancybox.pack.js"></script>
    <script src="~/Scripts/skrollr.min.js"></script>
    <script src="~/Scripts/jquery.scrollTo-1.4.3.1-min.js"></script>
    <script src="~/Scripts/jquery.localscroll-1.2.7-min.js"></script>
    <script src="~/Scripts/stellar.js"></script>
    <script src="~/Scripts/jquery.appear.js"></script>
    <script src="~/Scripts/validate.js"></script>
    <script src="~/Scripts/main.js"></script>