@using PPIJ
@model PPIJ.Models.TablesContentModel

<option style="display:none;">Odaberi broj pitanja</option>
@for (int i = Model.minNumQuestions; i <= Model.maxNumQuestions; i++)
            {
    <option value="@i">@i</option>
}
