@model PPIJ.Models.UserEditModel
@{
    Layout = "~/Views/Shared/_Account.cshtml";
}

<section id="section-featured" class="featured">
    <div class="container">
        <div class="row mar-bot40">
            <div class="col-md-6 col-md-offset-3">

                <div class="align-center">

                    <h2 class="slogan">Upravljačka ploča korisnika</h2>

                    <p>
                        To do the Account
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>